/* Style for Marlon Clark portfolio */

/********** General **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #128bb1;
  --primary-color-light: #00c3ff;
  --main-shadow: 0 2px 4px rgba(1, 1, 1, 0.5);
}
html {
  scroll-behavior: smooth;
}

/********** Typography **********/
* {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.top-name {
  font-weight: 300;
  letter-spacing: 0.3em;
}
.nav-link {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}
h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8em;
}
h2 {
  font-size: 1.75rem;
}
.badge {
  font-size: 1em;
}
h2,
.badges p {
  font-weight: 300;
}
.skill-bar {
  font-size: 1.2rem;
  font-weight: 700;
}
.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-desc,
.view-more.btn {
  font-weight: 300;
}
.card-desc {
  font-size: 1rem;
}
.mission {
  line-height: 1.5;
}
.badge .fab {
  font-size: 5rem;
}
.social .fab {
  font-size: 3rem;
}

/********** Buttons **********/
.btn {
  margin: 0 auto;
  padding: 0.8em 2em;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border: 0;
  border-radius: 10px 2px 10px 2px;
  background: var(--primary-color);
  transition: 0.2s;
}
.btn:hover {
  color: #111;
  background: var(--primary-color-light);
  box-shadow: var(--main-shadow);
  transform: translateY(-5px);
  outline: none;
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #111;
}
.btn:active {
  box-shadow: none;
}

/********** Layout **********/
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
nav,
.nav-links,
header,
.cta,
.badges,
.skills,
.skill-bars,
.cards,
.info,
.social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
}
header,
section {
  min-height: 600px;
  padding: 7em 2em;
}
.section-title {
  margin-bottom: 1em;
}
h2 {
  padding-bottom: 1em;
  text-align: center;
}

/********** Navigation **********/
nav {
  position: fixed;
  max-width: 1300px;
  padding: 0.5em;
  z-index: 100;
  backdrop-filter: blur(5px);
  top: 0;
}
.scrolled {
  background-color: rgba(255, 255, 255, 0.2);
}
.page-top {
  margin-bottom: 0.5em;
}
.scrolled .nav-links {
  padding-top: 0;
}
.nav-links {
  flex-flow: row;
  list-style-type: none;
  padding-top: 1em;
  z-index: 1000;
  transition: padding ease 0.5s;
}
.nav-links li {
  width: 150px;
  text-align: center;
  border-bottom: 3px solid #111;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5px), 0 calc(100% - 5px));
  transition: clip-path ease 0.5s;
}
.nav-links li:hover {
  border-bottom: 3px solid #111;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav-link {
  text-decoration: none;
  color: #111;
  transition: 0.2s;
}

/********** Header **********/
header {
  justify-content: space-evenly;
  margin-top: 2em;
}
.headline {
  width: 100%;
  text-align: center;
  margin-bottom: 0.15em;
}

/********** Talents **********/
.talents {
  color: #fff;
  background-color: var(--primary-color);
}
.badges {
  flex-flow: row;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2em;
}
.badge {
  height: 4em;
  transition: transform 1s;
  filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.2));
}
.badges > div:hover .badge {
  transform: rotateY(360deg);
}
.skills {
  align-items: flex-start;
}
.skills-bar-title {
  color: #111;
  margin-bottom: 0.25em;
}
.skill-bars {
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  align-items: flex-start;
  padding: 1em;
  box-shadow: inset var(--main-shadow);
}
.skill-bar {
  width: 100%;
  color: #111;
  border-radius: 3px;
  margin-bottom: 0.5em;
  background-position: 100%;
  background-size: 200%;
}
.skill-name {
  padding-left: 0.25em;
}
.skill-percent {
  float: right;
  padding-right: 0.25em;
}
.js {
  background-image: linear-gradient(90deg, var(--primary-color) 45%, #bbb 0);
}
.html {
  background-image: linear-gradient(90deg, var(--primary-color) 50%, #bbb 0);
}
.css {
  background-image: linear-gradient(90deg, var(--primary-color) 40%, #bbb 0);
}
.grow {
  animation: grow-bg 2.5s ease forwards;
}
.skill-description {
  padding: 1em;
}
.skills-list,
.cred-list {
  list-style-image: url(../img/icons/right-chevron.svg);
  padding-left: 2em;
}
/* Skill bar animation */
@keyframes grow-bg {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/********** Projects **********/
.cards {
  flex-flow: row wrap;
  margin: 0 auto;
}
.card {
  width: 90%;
  padding: 0.4em;
  background-color: var(--primary-color);
  margin: 0.5em;
  border-radius: 13px 13px 13px 2px;
  transition: 0.2s;
  color: #fff;
}

.card-desc {
  min-height: 3.5em;
}
.hide {
  display: none;
}
.proj-img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
.proj-img-link:hover .overlay {
  opacity: 1;
  transition: opacity ease 0.5s;
}
.overlay {
  position: absolute;
  background: rgba(10, 10, 10, 0.3);
  color: #eee;
  padding: 0.25em;
  border-radius: 10px 2px 2px 2px;
  opacity: 0;
}
.overlay img {
  height: 1.2em;
  vertical-align: middle;
}
.proj-footer {
  width: 100%;
  padding: 3em 0 0;
  text-align: center;
}

/********** About Me **********/
.aboutme {
  background-color: var(--primary-color);
}
h2.light,
.info {
  color: #fff;
}
.info {
  align-items: flex-start;
  width: 100%;
}
.aboutme .cta .btn {
  border: 2px solid #fff;
  margin: 3em 0;
}
.mission,
.credentials {
  width: 100%;
  padding: 1em 0;
}
.social {
  flex-flow: row;
  font-size: 0.6rem;
  margin-top: 2em;
}
.social-logo {
  height: 2.5em;
}
.social a {
  transition-duration: 0.2s;
}
.social a:hover {
  filter: drop-shadow(var(--main-shadow));
  transform: translateY(-5px);
}

/********** Contact **********/
.form-container {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  align-self: center;
}
#form-status {
  color: green;
  font-weight: 400;
  margin-left: 0.5em;
}

/********** Footer **********/
footer {
  background-color: #bbb;
  padding-top: 10em;
  text-align: center;
}
.footer-block {
  background-color: #111;
  width: 100%;
  height: 2em;
  bottom: 0;
}

/********** Desktop Screens **********/
@media (min-width: 600px) {
  .nav-link {
    font-size: 1.5rem;
  }
  header,
  .section {
    padding: 5em;
  }
  header {
    margin-top: 3em;
  }
  .skills,
  .info {
    flex-flow: row;
  }
  .headline {
    font-size: 5rem;
  }
  .badge {
    height: 5em;
  }
  .skill-bars,
  .skill-description {
    width: 50%;
  }
  .card {
    width: 45%;
  }
  .hide {
    display: block;
  }
  .mission {
    width: 55%;
  }
  .credentials {
    width: 45%;
  }
  .social-logo {
    height: 4.5em;
  }
}
/********** Project Card Expanded **********/
@media (min-width: 850px) {
  .card {
    width: 30%;
  }
}
